body {
    text-align: center;
    background-color: darkorchid;
}
.capa{
    width: 50%;
}
.beneficios {
    text-align: left;
    background-color: ghostwhite;
}   
.carlinhos { 
    width: 40%;
    margin-left: 200px;
}
h2{
    padding: 20px;
}
ul{
    display: inline-block;
    vertical-align: top;
    margin-right:  200px
}
li  {
    padding: 20px
}


